#set($name = "${context.className.substring(0,1).toUpperCase()}${context.className.substring(1)}")
package ${context.package}.model.$!{name.toLowerCase()};

 #set($searchTypeList=${context.searchTypeList})

import com.fasterxml.jackson.annotation.JsonProperty;
import lombok.Data;
import jnpf.base.Pagination;
import java.util.List;

/**
 *
 * ${context.genInfo.description}
 * @版本： ${context.genInfo.version}
 * @版权： ${context.genInfo.copyright}
 * @作者： ${context.genInfo.createUser}
 * @日期： ${context.genInfo.createDate}
 */
@Data
public class $!{name}Pagination extends Pagination {

	private String selectKey;

	private String json;

	private String dataType;

	private String superQueryJson;

    #foreach($search in ${searchTypeList})
        #set($searchType = ${search.searchType})
        #set($jnpfKey= ${search.jnpfKey})
        #set($vModel =${search.vModel})
        #set($lowModel = "${vModel.substring(0,1).toLowerCase()}${vModel.substring(1)}")
        #set($upModel = "${vModel.substring(0,1).toUpperCase()}${vModel.substring(1)}")
        #set($label = ${search.label})

        /** ${label} */
		@JsonProperty("$vModel")
    #if(${searchType}==3)
        private Object ${lowModel};
    #else
        #if(${jnpfKey}=='select' || ${jnpfKey}=='depSelect' || ${jnpfKey} =='roleSelect' || ${jnpfKey} =='userSelect'
        || ${jnpfKey}=='usersSelect' || ${jnpfKey} =='comSelect' || ${jnpfKey} =='posSelect' || ${jnpfKey} =='groupSelect'
        || ${jnpfKey}=='address' || ${jnpfKey} =='cascader' || ${jnpfKey} =='currOrganize')
        private Object ${lowModel};
        #else
        private String ${lowModel};
        #end
    #end
#end
    #if($context.hasTree)
        #set($treeSearch = ${context.treeRelation})
        #set($jnpfKey= ${treeSearch.jnpfKey})
        #set($vModel =${treeSearch.vModel})
        #set($lowModel = "${vModel.substring(0,1).toLowerCase()}${vModel.substring(1)}")
        #set($upModel = "${vModel.substring(0,1).toUpperCase()}${vModel.substring(1)}")
        #set($label = ${treeSearch.label})

			/** ${label} */
		@JsonProperty("$vModel")
        #if(${searchType}==3)
            private Object ${lowModel};
        #else
            #if(${jnpfKey}=='select' || ${jnpfKey}=='depSelect' || ${jnpfKey} =='roleSelect' || ${jnpfKey} =='userSelect'
            || ${jnpfKey}=='usersSelect' || ${jnpfKey} =='comSelect' || ${jnpfKey} =='posSelect' || ${jnpfKey} =='groupSelect'
            || ${jnpfKey}=='address' || ${jnpfKey} =='cascader' || ${jnpfKey} =='currOrganize')
            private Object ${lowModel};
            #else
            private String ${lowModel};
            #end
        #end
    #end
	/**
    * 菜单id
    */
    private String menuId;
    #if(${context.treeTable} == true)
        /**
        * 树形异步父级字段传值
        */
        private String treeParentValue;
        /**
        * 是否有参数
        */
        private  boolean hasParam=false;
    #end

    private String moduleId;
}
